<h1><%= @task.title %></h1>

<p><strong>Status:</strong> <%= @task.status %></p>
<p><strong>Description:</strong> <%= @task.description %></p>
<p><strong>Priority:</strong> <%= @task.priority %> / 5</p>

<p><strong>Start:</strong> <%= @task.start_time %></p>
<p><strong>End:</strong> <%= @task.end_time %></p>

<br>

<%= link_to "Edit", edit_task_path(@task) %> |
<%= link_to "Back", tasks_path %>
